# ADR-0039 D2: pinned python stack for scripts/tau/bgnbd_fit.py.
# r100 research amendment: lifetimes==0.11.3 is pure-python and safe itself, but its autograd
# dependency is the numpy-2 liability — numpy stays pinned BELOW 2.x with autograd>=1.7.
lifetimes==0.11.3
numpy==1.26.4
pandas==2.0.3
scipy==1.11.4
autograd==1.7.0
